
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="cate">
    <div class="container">
        <h3 style="text-align:center; margin-top:20px; font-weight:bold;margin-bottom:-40px;">LIÊN HỆ</h3>
        <div class="categorie-grids">
            <div class="col-md-4 cate-grid grid1">
                <h4 style="text-align:center">ĐỊA CHỈ</h4>
                <p style="text-align:center">HUTECH QUẬN 9, TP HỒ CHÍ MINH</p>
            </div>
            <div class="col-md-4 cate-grid grid2">
                <h4 style="text-align:center">SỐ ĐIỆN THOẠI</h4>
                <p style="text-align:center">0964557349</p>
            </div>
            <div class="col-md-4 cate-grid grid3">
                <h4 style="text-align:center">EMAIL</h4>
                <p style="text-align:center">NGUYENLOAN102002.VN@GMAIL.COM</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

