
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutDH.cshtml";
}
<body style="text-align: center">
    <h2>Đặt hàng thành công</h2>
    <br />
    <h4>Đơn hàng của bạn đã được tiếp nhận. Hàng sẽ nhận được trong 2-5 ngày. Cảm ơn bạn đã ủng hộ shop nhá</h4>
    <br /> <br />
    <a class="rounded-button" href="@Url.Action("Index", "Home")">Continuous Shopping</a>
    <br />
    <br />
    <br />
</body>
<style>
    .rounded-button {
        border-radius: 100px;
        background-color:lightpink;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

</style>

