
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutDH.cshtml";
}
<body style="text-align: center">
    <h2>Đặt hàng thành công</h2>
    <h4>Đơn hàng của bạn đã được tiếp nhận. Hàng sẽ nhận được trong 2-5 ngày. Cảm ơn bạn đã ủng hộ shop nhá</h4>
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Continuous Shopping</a>
</body>


