
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-3">
    <h3 class="text-center" style="color:red;">GIỚI THIỆU VỀ SHOP & BRAND NỔI BẬT</h3>
    <p>
        Hiểu được khách hàng của mình là những bạn trẻ thuộc thế hệ GenZ - Một thế hệ đầy cá tính, dám nghĩ dám làm và luôn sẵn sàng đương đầu với mọi thử thách.
        Từ đó, MM STYLE đã có những bước chuyển mình để mang đến nhiều hơn nữa những trải nghiệm mới mẻ, đồng hành cùng các bạn trẻ trong hành trình làm mới bản thân mỗi ngày. 
        Bởi với MM, mỗi một trải nghiệm chính là mỗi bước đi mới trong hành trình chinh phục những thử thách. MM tin rằng, hành trình này sẽ luôn còn tiếp diễn để chúng ta có thể cùng nhau đổi mới.
        Vì đổi mới là để tốt hơn mỗi ngày!


    </p>
    <div class="container text-center">
        <img src="~/Asset/Images/shop.jpg" style="text-align:center; width:1000px; height:300px;" />
    </div>
    <p>
        <br /> Levents® là lựa chọn hàng đầu dành cho các tín đồ thời trang Đường phố sành điệu.
        Sứ mệnh của Levents® là trao quyền cho thế hệ trẻ toàn thế giới tự do thể hiện phong cách thông qua thời trang,
        thương hiệu vượt qua ranh giới của thời trang đường phố bằng cách không ngừng sáng tạo các trang phục với các bộ sưu tập độc đáo.
    </p>
    <div class="container text-center">

        <img src="~/Asset/Images/levents-local-brand-1.jpg" style="text-align:center; width:1000px; height:300px;" />
    </div>
    <p>
        <br />Được thành lập vào cuối năm 2016 trong bối cảnh thời trang streetstyle dần nhen nhóm vào thị trường Việt Nam.
        Sau 6 năm phát triển, SWE - Street Wear Eazy với slogan Young kids with a mission™ đã chiếm được tình cảm của hầu hết các bạn trẻ yêu mến thời trang đường phố trên khắp cả nước.
        Thời trang vận hành như dòng thời gian không ngừng dịch chuyển. Hiểu được điều này, SWE luôn biết cách làm mới mình bằng cách liên tục cho ra đời những sản phẩm không chỉ chất lượng mà còn có thiết kế vô cùng độc đáo, mới lạ và ấn tượng, đảm bảo khiến bạn trông trendy hơn bao giờ hết.
    </p>
    <div class="container text-center">

        <img src="~/Asset/Images/swe.png" style="text-align:center; width:1000px; height:300px;" />
    </div>
    <p>
        <br />Đối với chúng mình, BỎ LỠ là phép chọn, là nguồn cảm hứng và là cách để đưa MISSOUT bước vào con đường Streetwear. Với đội ngũ trẻ trung, năng động, MISSOUT giao tiếp với thế giới thời trang bằng những sản phẩm Sang - Xịn - Mịn, chất lượng chi tiết đến từng đường kim mũi chỉ.

        Nghe cực ngầu nhưng thật ra triết lý của MISSOUT với thời trang vô cùng đơn giản: “Với MISSOUT, ngoại hình, giới tính các bạn như thế nào không quan trọng, chúng mình luôn nỗ lực đa dạng hóa kiểu dáng và màu sắc sản phẩm, nên bạn sẽ không cần quá trăn trở, nếu chọn phong cách thời trang Streetwear, MISSOUT là dành cho bạn.”
    </p>
    <div class="container text-center">

        <img src="~/Asset/Images/missout.png" style="text-align:center; width:1000px; height:300px;" />
    </div>
    <p>
        <br />Hiểu được khách hàng của mình là những bạn trẻ thuộc thế hệ GenZ - Một thế hệ đầy cá tính, dám nghĩ dám làm và luôn sẵn sàng đương đầu với mọi thử thách.
        Từ đó, VM STYLE đã có những bước chuyển mình để mang đến nhiều hơn nữa những trải nghiệm mới mẻ, đồng hành cùng các bạn trẻ trong hành trình làm mới bản thân mỗi ngày. 
        Bởi với VM, mỗi một trải nghiệm chính là mỗi bước đi mới trong hành trình chinh phục những thử thách.
        VM tin rằng, hành trình này sẽ luôn còn tiếp diễn để chúng ta có thể cùng nhau đổi mới. Vì đổi mới là để tốt hơn mỗi ngày!
    </p>
    <div class="container text-center">

        <img src="~/Asset/Images/vm.jpg" style="text-align:center; width:1000px; height:300px;" />
    </div>
</div>




