
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /> 
<br />
<h3  style="text-align:center;color:lightpink">Kết Quả Tìm Kiếm</h3>
<div class="container">
    <div class="row">
        @foreach (var tatcasanpham in Model)
        {
            <div class=" col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="@tatcasanpham.AnhDD" class="card-img-top" width="300px" heigh="300px "alt="...">
                    <div class="card-body">
                        <a href="@Url.Action("Details","Skateboards", new { id =tatcasanpham.MaSP})" style="text-decoration:none">
                            <h5 class="card-title">@tatcasanpham.TenSP</h5>
                        </a>
                        <h5>Giá Bán: @tatcasanpham.GiaBan</h5>
                        <div class="btn_form">
                            <a href="/ShoppingCart/AddtoCart/@tatcasanpham.MaSP">BUY</a>
                        </div>   
                        </div>
                    </div>
            </div>}

    </div>
</div>


