
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}
<div>
    <hr />
    <h2 style="text-align:center">HƯỚNG DẪN MUA HÀNG</h2>
    <h4>Bước 1:</h4>
    <img scr="" style="max-width: 100%" />
    <p>Khi truy cập vào Website, bạn hãy chọn mục CLOTHES để hiện danh sách các sản phẩm liên quan , bạn có thể xem mẫu quần áo mà mình yêu thích bằng cách chọn Xem chi tiết. </p>
    <hr />
    <h4>Bước 2:</h4>
    <img src="~/Asset/Images/hd1.jpg" style="max-width: 100%" />
    <p>Click vào Thêm vào giỏ để thêm sản phẩm vào giỏ hàng</p>
    <hr />
    <h4>Bước 3:</h4>
    <img src="~/Asset/Images/hd2.jpg" style="max-width: 100%" />
    <p>Sản phẩm đã được thêm vào giỏ hàng, bạn có thể điều chỉnh số lượng hoặc quay về trang trước đó để chọn sản phẩm khác, bạn cần đăng kí tài khoản để tiếp tục mua hàng</p>
    <hr />
    <h4>Bước 4:</h4>
    <img src="~/Asset/Images/hd3.jpg" style="max-width: 100%" />
    <p>Click vào Register để đăng kí tài khoản</p>
    <hr />
    <h4>Bước 5:</h4>
    <img src="" style="max-width: 100%" />
    <p>Bạn cần điền thông tin vào form trên, rồi sau đó click Save</p>
    <hr />
    <h4>Bước 6:</h4>
    <img src="" style="max-width: 100%" />
    <p>Sau khi đăng kí thành công, bạn cần nhập mã code lúc nãy vừa đăng kí, địa chỉ giao hàng, click CheckOut để hoàn tất quá trình đặt hàng</p>
    <hr />
    <h4>Bước 7:</h4>
    <img src="" style="max-width: 100%" />
    <p>Hiện thông báo đặt hàng thành công. Cảm ơn bạn đã tin tưởng shop chúng mình!</p>
</div>


